<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download Progress</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <script>
    function updateProgress(progress) {
      var progressBar = document.getElementById('progressBar');
      progressBar.style.width = progress + "%";
    }
  </script>
</head>
<body>
  <h1>Download Progress</h1>
  <div class="progress">
    <div id="progressBar" class="progress-bar"></div> <!-- Progress bar -->
  </div>
</body>
</html>
